{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

<div class="my-4">
    <h2>About These Canadian Dishes</h2>
    <p>
        Canada is known for its diverse and hearty cuisine, reflecting the country's multicultural heritage and regional
        flavors. The meals listed above are some of the most iconic and beloved dishes from different parts of Canada.
        From the sweet richness of Nanaimo Bars and Butter Tarts to the savory delight of Poutine and Montreal Smoked
        Meat, these dishes showcase the best of Canadian comfort food. Whether you're enjoying the crispy indulgence of
        BeaverTails or the warmth of a bowl of Split Pea Soup, each meal tells a unique story about Canadian tradition
        and culture.
    </p>
</div>


{% endblock %}